body.light {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --hover-color: var(--light-hover-color);
    --text-hover-color: var(--light-text-hover-color);
    --component-color: var(--light-component-color);
}
body.dark {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --hover-color: var(--dark-hover-color);
    --text-hover-color: white;
    --component-color: var(--dark-component-color);
}

.topcontainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 81px;
}
.topbar {

    width: 100vw;
    height: 80px;

 
    background-color: var(--background-color);
}

.topcontent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--background-color);
}

.seperator-two {
    height: 1px;
    background-color: #707070;
    opacity: 50%;
}

.seperator-three {
    height: 80px;
    width: 1px;
    background-color: #707070;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 50%;
}

.upload-btn {
    background-color: var(--component-color);
    color: var(--text-color);
    border: none;
    height: 60px;
    width: 90px;
    border-radius: 20px;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.upload-btn:hover {
    transform: scale(1.1);
}

.login-btn {
    background-color: var(--component-color);
    color: var(--text-color);
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    transition: all .2s ease-in-out;
    margin-right: 50px;
}

.login-btn:hover {
    transform: scale(1.1);
}

.login-btn-unactive {

    background-color: var(--component-color);
    color: var(--text-color);
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    transition: all .2s ease-in-out;
    margin-right: 50px;

}

.login-btn-unactive:hover {
    transform:  scale(1.1);
}

.mobile-nav {
    width: 24px;
    height: 20px;
    margin-right: 25px;
    margin-left: 25px;
    display: none;
}

.nav-line {
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    border-radius: 10px;
    margin-top: 4px;
}

.closeicon {
    color: var(--text-color);
    margin-right: 25px;
    margin-left: 25px;
    display: none;
}


@media (max-width: 1000px) {
    .topbar {
        height: 50px;
    }
    .topcontent {
        height: 50px;
    }

    .topcontainer {
        height: 50px;
    }

    .login-btn {
        background-color: var(--component-color);
        color: var(--text-color);
        border: none;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        font-size: 10px;
        font-family: 'Poppins';
        transition: all .2s ease-in-out;
        margin-right: 25px;
        display: none;
    }

    .login-btn-unactive {
        background-color: var(--component-color);
        color: var(--text-color);
        border: none;
        height: 30px;
        width: 45px;
        border-radius: 10px;
        font-size: 10px;
        transition: all .2s ease-in-out;
        margin-left: 10px;
        margin-right: -10px;
    }

    .upload-btn {
        background-color: var(--component-color);
        color: var(--text-color);
        border: none;
        height: 40px;
        width: 60px;
        border-radius: 10px;
        font-size: 20px;
        transition: all .2s ease-in-out;
    }

    .seperator-two {
        display: none;
    }

    .seperator-three {
        height: 50px;
        width: 1px;
        background-color: #707070;
        margin-left: 25px;
        margin-right: 25px;
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }
    .closeicon {
        color: var(--text-color);
        margin-right: 25px;
        margin-left: 25px;
        
        display: flex;
    }
    
}